In [6]:
from transformers import pipeline
import pandas as pd

pipe = pipeline("text-classification", model="nlptown/bert-base-multilingual-uncased-sentiment")
PATH = '/opt/ml/input/data/'
TRAIN = 'train_data_pp.csv'

Xformers is not installed correctly. If you want to use memory_efficient_attention to accelerate training use the following command to install Xformers
pip install xformers.

In [19]:
df = pd.read_csv(PATH + TRAIN)
df.head(3)

,user_id,user_profile_age_range,user_profile_name,user_profile_residence,user_profile_accepted_food,user_profile_accepted_movies,user_profile_accepted_music,user_profile_rejected_music,user_profile_gender,user_profile_accepted_celebrities,...,time,place,date,topic,wday,sentence_index,sentence,goal_topic,goal_type,knowledge
0,0,Under 18 years old,Fangyang Liu,Qingdao,Jiaozi Stuffed with Mackerel,"['Left Right Love Destiny', 'Hot Summer Days',...",['Once'],['Its Time'],Female,"['Cecilia Cheung', 'Kris Wu', 'Nicholas Tse']",...,12:0,at school,NaN,NaN,NaN,0,Who is the leading actor of the movie Left Rig...,Left Right Love Destiny,Q&A,"Cecilia Cheung, Stars, Left Right Love Destiny"
1,0,Under 18 years old,Fangyang Liu,Qingdao,Jiaozi Stuffed with Mackerel,"['Left Right Love Destiny', 'Hot Summer Days',...",['Once'],['Its Time'],Female,"['Cecilia Cheung', 'Kris Wu', 'Nicholas Tse']",...,12:0,at school,NaN,NaN,NaN,1,It's Cecilia Cheung,Left Right Love Destiny,Q&A,"Cecilia Cheung, Stars, Left Right Love Destiny"
2,0,Under 18 years old,Fangyang Liu,Qingdao,Jiaozi Stuffed with Mackerel,"['Left Right Love Destiny', 'Hot Summer Days',...",['Once'],['Its Time'],Female,"['Cecilia Cheung', 'Kris Wu', 'Nicholas Tse']",...,12:0,at school,NaN,NaN,NaN,2,You even know that. Excellent!,Left Right Love Destiny,Q&A,NaN

In [20]:
result = df.sentence.apply(pipe)
result

In [ ]:
df['sentiment_star'] = result.apply(lambda x:int(x[0]['label'][0]))
df['sentiment_score'] = result.apply(lambda x:x[0]['score'])

In [ ]:
df[['sentence', 'sentiment_star', 'sentiment_score']]

,sentence,sentiment_star,sentiment_score
0,Who is the leading actor of the movie Left Rig...,1,0.309721
1,It's Cecilia Cheung,3,0.316815
2,You even know that. Excellent!,5,0.936480
3,Thank you for your praise. She's a Chinese ido...,5,0.682868
4,Yes my idol is quite unusual.,5,0.609620
...,...,...,...
95,It would be a good choice to eat Sliced Fish i...,3,0.465245
96,"Yes, it's really suitable to eat some hot food.",4,0.434559
97,You'll feel warm in the stomach after eating t...,4,0.300310
98,"Yes, I like bean sprouts, green vegetables and...",4,0.331446
99,"Yes, they're delicious.",4,0.384406