In [6]:
import json, pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mpl

In [7]:
dev = pd.read_csv('./dev_sentiment.csv')
train = pd.read_csv('./train_sentiment.csv')

In [8]:
len(train.user_id.unique())

5678

In [9]:
dev

,user_id,user_profile_age_range,user_profile_name,user_profile_residence,user_profile_accepted_food,user_profile_accepted_movies,user_profile_accepted_music,user_profile_rejected_music,user_profile_gender,user_profile_accepted_celebrities,...,topic,wday,sentence_index,sentence,goal_topic,goal_type,knowledge,recdial,sentiment_star,sentiment_score
0,0,Over 50 years old,Jacky Cheung's news,Jiujiang,['Wanzhou Roasted Fish'],['Marinated Fish'],"['The Best Voice', 'If Its Not Love', 'The Cre...","['Blessing', 'Hard to Go Back']",Male,['Jacky Cheung'],...,NaN,NaN,0,What's the weather like today?,Ask about weather,Ask about weather,"Jiujiang, 2018-10-4, Sunny with north winds. T...",0,3,0.328311
1,0,Over 50 years old,Jacky Cheung's news,Jiujiang,['Wanzhou Roasted Fish'],['Marinated Fish'],"['The Best Voice', 'If Its Not Love', 'The Cre...","['Blessing', 'Hard to Go Back']",Male,['Jacky Cheung'],...,NaN,NaN,1,It's sunny with north winds in Jiujiang today....,Ask about weather,Ask about weather,"Jiujiang, 2018-10-4, Sunny with north winds. T...",0,3,0.392084
2,0,Over 50 years old,Jacky Cheung's news,Jiujiang,['Wanzhou Roasted Fish'],['Marinated Fish'],"['The Best Voice', 'If Its Not Love', 'The Cre...","['Blessing', 'Hard to Go Back']",Male,['Jacky Cheung'],...,NaN,NaN,2,That's great. That's detailed.,Ask about weather,Ask about weather,NaN,0,4,0.379832
3,0,Over 50 years old,Jacky Cheung's news,Jiujiang,['Wanzhou Roasted Fish'],['Marinated Fish'],"['The Best Voice', 'If Its Not Love', 'The Cre...","['Blessing', 'Hard to Go Back']",Male,['Jacky Cheung'],...,NaN,NaN,3,It's nice weather to rat Marinated Fish.,Marinated Fish,Food recommendation,"Sunny with north winds. The high will be 27 â„ƒ,...",1,4,0.507903
4,0,Over 50 years old,Jacky Cheung's news,Jiujiang,['Wanzhou Roasted Fish'],['Marinated Fish'],"['The Best Voice', 'If Its Not Love', 'The Cre...","['Blessing', 'Hard to Go Back']",Male,['Jacky Cheung'],...,NaN,NaN,4,"Yo, you even know my favorite Marinated Fish.",Marinated Fish,Food recommendation,NaN,1,5,0.932400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12652,810,Under 18 years old,Bo Huang's news; Jay Chou's news,Luoyang,NaN,['Mapo Tofu'],"['How Are You', 'Rain', 'Dear Child', 'Magicia...","['Self Directed Act', 'A Branch of Plum Blosso...",Female,"['Bo Huang', 'Jay Chou']",...,NaN,Wednesday,3,Yeah. It will turn from sunny to cloudy with n...,Weather notification,Weather notification,"Luoyang, 2018-11-21, Sunny early and mostly cl...",0,2,0.282932
12653,810,Under 18 years old,Bo Huang's news; Jay Chou's news,Luoyang,NaN,['Mapo Tofu'],"['How Are You', 'Rain', 'Dear Child', 'Magicia...","['Self Directed Act', 'A Branch of Plum Blosso...",Female,"['Bo Huang', 'Jay Chou']",...,NaN,Wednesday,4,The weather forecast is quite accurate. I like...,Weather notification,Weather notification,NaN,0,4,0.639092
12654,810,Under 18 years old,Bo Huang's news; Jay Chou's news,Luoyang,NaN,['Mapo Tofu'],"['How Are You', 'Rain', 'Dear Child', 'Magicia...","['Self Directed Act', 'A Branch of Plum Blosso...",Female,"['Bo Huang', 'Jay Chou']",...,NaN,Wednesday,5,Thank you.,Weather notification,Weather notification,NaN,0,5,0.604014
12655,810,Under 18 years old,Bo Huang's news; Jay Chou's news,Luoyang,NaN,['Mapo Tofu'],"['How Are You', 'Rain', 'Dear Child', 'Magicia...","['Self Directed Act', 'A Branch of Plum Blosso...",Female,"['Bo Huang', 'Jay Chou']",...,NaN,Wednesday,6,I'm going to have a rest. Talk later!,Say goodbye,Say goodbye,NaN,0,3,0.272668
12656,810,Under 18 years old,Bo Huang's news; Jay Chou's news,Luoyang,NaN,['Mapo Tofu'],"['How Are You', 'Rain', 'Dear Child', 'Magicia...","['Self Directed Act', 'A Branch of Plum Blosso...",Female,"['Bo Huang', 'Jay Chou']",...,NaN,Wednesday,7,All right. Bye!,Say goodbye,Say goodbye,NaN,0,5,0.691076

In [10]:
train.columns

Index(['user_id', 'user_profile_age_range', 'user_profile_name',
       'user_profile_residence', 'user_profile_accepted_food',
       'user_profile_accepted_movies', 'user_profile_accepted_music',
       'user_profile_rejected_music', 'user_profile_gender',
       'user_profile_accepted_celebrities', 'user_profile_accepted_movie',
       'user_profile_reject', 'user_profile_rejected_movies',
       'user_profile_occupation', 'user_profile_accepted_music.1',
       'user_profile_accepted_poi', 'user_profile_favorite_news',
       'user_profile_accepted_news', 'user_profile_poi', 'time', 'place',
       'date', 'topic', 'wday', 'sentence_index', 'sentence', 'goal_topic',
       'goal_type', 'knowledge', 'recdial', 'sentiment_star',
       'sentiment_score'],
      dtype='object')

In [11]:
[c for c in train.columns if 'user' in c]

['user_id',
 'user_profile_age_range',
 'user_profile_name',
 'user_profile_residence',
 'user_profile_accepted_food',
 'user_profile_accepted_movies',
 'user_profile_accepted_music',
 'user_profile_rejected_music',
 'user_profile_gender',
 'user_profile_accepted_celebrities',
 'user_profile_accepted_movie',
 'user_profile_reject',
 'user_profile_rejected_movies',
 'user_profile_occupation',
 'user_profile_accepted_music.1',
 'user_profile_accepted_poi',
 'user_profile_favorite_news',
 'user_profile_accepted_news',
 'user_profile_poi']

In [12]:
train_user = train.loc[:,[c for c in train.columns if 'user' in c]].drop_duplicates()
train_user.to_csv('./train_user.csv',index=False)
train_log = train.loc[:,[c for c in train.columns if 'user' not in c]]
train_log.to_csv('./train_log.csv',index=False)

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [14]:
train_log

,time,place,date,topic,wday,sentence_index,sentence,goal_topic,goal_type,knowledge,recdial
0,12:0,at school,NaN,NaN,NaN,0,Who is the leading actor of the movie Left Rig...,Left Right Love Destiny,Q&A,"Cecilia Cheung, Stars, Left Right Love Destiny",0
1,12:0,at school,NaN,NaN,NaN,1,It's Cecilia Cheung,Left Right Love Destiny,Q&A,"Cecilia Cheung, Stars, Left Right Love Destiny",0
2,12:0,at school,NaN,NaN,NaN,2,You even know that. Excellent!,Left Right Love Destiny,Q&A,NaN,0
3,12:0,at school,NaN,NaN,NaN,3,Thank you for your praise. She's a Chinese ido...,Cecilia Cheung,Chat about stars,"Cecilia Cheung, Intro, Chinese dreamgirl",0
4,12:0,at school,NaN,NaN,NaN,4,Yes my idol is quite unusual.,Cecilia Cheung,Chat about stars,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
87281,12:0,at school,NaN,NaN,NaN,13,It's on now.,Together We Move On,Play music,NaN,0
87282,12:0,at school,NaN,NaN,NaN,14,It's really nice.,Together We Move On,Play music,NaN,0
87283,12:0,at school,NaN,NaN,NaN,15,I'm glad you like it.,Together We Move On,Play music,NaN,0
87284,12:0,at school,NaN,NaN,NaN,16,"It's time to have a dinner, goodbye.",Say goodbye,Say goodbye,NaN,0
87285,12:0,at school,NaN,NaN,NaN,17,"OK, see ya!",Say goodbye,Say goodbye,NaN,0

In [25]:
temp['user_profile_name'].iloc[0]

'Lijia Sun'

In [8]:
max(train.sentence_index)

27